<a href="https://colab.research.google.com/github/snigdha816/123456/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
x=5
type(x)

# Write a Python program to declare a variable x with the value 10 and print its type.

int

In [ ]:
a=5
b=10
c=15
sum=a+b+c
print("sum:",sum)

# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.

sum: 30

In [ ]:
a=6
b=5.4
c="snigdha"
print("type of a:",type(a))
print("type of b:",type(b))
print("type of c:",type(c))
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).

type of a: <class 'int'>
type of b: <class 'float'>
type of c: <class 'str'>

In [ ]:
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
print("addition of a,b:",a+b)
print("subtraction of a,b:",a-b)
print("multiplication of a,b:",a*b)
print("division of a,b:",a/b)

# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)

enter the first number:6
enter the second number:8
addition of a,b: 14
subtraction of a,b: -2
multiplication of a,b: 48
division of a,b: 0.75

In [ ]:
a="123"
print("befor type casting:",type(a))
a=int(a)
b=float(a)
print("after type casting:",type(a))
print("after type casting:",type(b))

# Write a Python program to convert a string "123" to an integer and a float and print the results.

befor type casting: <class 'str'>
after type casting: <class 'int'>
after type casting: <class 'float'>

In [ ]:
x=input("enter a string:")
print(x[0])

# Write a Python program to print the first character of a given string. (User input for the string)

enter a string:nimmy
n

In [ ]:
x=input("enter a string:")
print("length of string:",len(x))



# Write a Python program to print the length of a string. (User input for the string)

enter a string:nimmy
length of string: 5

In [ ]:
x="nimmy123"
x.isalpha()
print("string contains only alphabets")



# Write a Python program to check if a given string contains only alphabets.

string contains only alphabets

In [ ]:
x=input("enter string1:")
y=input("enter string2:")
print("concatenation of two strings:",x+y)



# Write a Python program to concatenate two strings. (User input for the strings)

enter string1:snigdha
enter string2:reddy
concatenation of two strings: snigdhareddy

In [ ]:

# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)

In [ ]:
x=input("enter string name:")
x=x.upper()
print("uppercase of given string:",x)
y=x.lower()
print("lowercase of given string:",y)
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)

enter string name:nimmy
uppercase of given string: NIMMY
lowercase of given string: nimmy

In [ ]:
user_input=input("enter a string:")
character=input("enter the character to count:")
count = user_input.count(character)
print("the character '{character}' appears {count} times in the string.")
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)

enter a string:snigdha
enter the character to count:s
the character '{character}' appears {count} times in the string.

In [ ]:
username=input("enter your name:")
print("hello,{username}, good morning!")

# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)

enter your name:snigdha reddy
hello,{username}, good morning!

In [ ]:
a=int(input('enter string1:'))
b=int(input('enter string2:'))
print("sum of given values:",a+b)
# Write a Python program to take two numbers as input and print their sum.

enter string1:6
enter string2:8
sum of given values: 14

In [ ]:
name=input("enter name:")
age=input("enter age:")
print("my name is",name,"and I am",age,"years old")
# Write a Python program to format and display a string containing the user's name and age. (User input required)

enter name:snigdha reddy
enter age:20
my name is snigdha reddy and I am 20 years old

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.

In [ ]:
num1=float(input("enter the first number:"))
num2=float(input("enter the second number:"))
num3=float(input("enter the third number:"))
max_num=num1
if num2>max_num:
  max_num=num2
  if num3>max_num:
    max_num=num3
print("the maximum number is:", max_num)
# Write a Python program to find the maximum of three numbers. (User input for the numbers)

enter the first number:40
enter the second number:50
enter the third number:60
the maximum number is: 60.0

In [ ]:

# Write a Python program to check if a year is a leap year. (User input for the year)

In [ ]:
num=int(input("enter a number:"))
if num % 3 == 0 and num % 5 == 0:
    print("{num} is divisible by both 3 and 5:")
else:
  print("{num} is not divisible by both 3 and 5:")

# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)

enter a number:15
{num} is divisible by both 3 and 5:

In [ ]:
input_string = ("enter th string:").replace(" ", "").lower()
if input_string ==input_string[::-1]:
  print("it's a palindrome!")
else:
    print("it's not a palindrome.")
# Write a Python program to check if a string is a palindrome. (User input for the string)

it's not a palindrome.

In [ ]:
for number in range(1,11):
  print(number)
# Write a Python program to print numbers from 1 to 10 using a for loop.

1
2
3
4
5
6
7
8
9
10

In [ ]:

i = 1
print("even numbers from 1 to 20:")
while i <= 20:
  if i % 2 ==0:
    print(i)
    i += 1

# Write a Python program to print all even numbers from 1 to 20 using a while loop.

even numbers from 1 to 20:

In [ ]:
num=int(input("enter a number:"))
print(f"multiplication table of{num}:")
for i in range(1,11):
  print(f"{num}x{i}={num*i}")
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)

enter a number:56
multiplication table of56:
56x1=56
56x2=112
56x3=168
56x4=224
56x5=280
56x6=336
56x7=392
56x8=448
56x9=504
56x10=560

In [ ]:
n=int(input("enter a number:"))
sum=0
i=1
while i<=n:
  sum+=i
  i+=1
  print("sum of numbers from 1 to n {n}:{sum}")

# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)

In [ ]:
num=int(input("enter a number:"))
fact=1
i=1
while i<=num:
  fact*=i+=1
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)

In [ ]:
n=int(input("enter the number of terms:"))
a,b=0,1
print("fibonacci sequence up to",n,"terms:")
for i in range(n):
  print(a,end="")
  a,b=b,a+b
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)

enter the number of terms:10
fibonacci sequence up to 10 terms:
0112358132134

In [ ]:
print("prime numbers from 1 to 100:")
for numn in range(1,101):
  if num>1:
    is_prime=True
    for i in range(2,num):
      if num %i == 0:
        is_prime=False
        break
        if is_prime:
          print(num,end="")

# Write a Python program to find all the prime numbers from 1 to 100.

prime numbers from 1 to 100:

In [ ]:
i=0
while i<10:
  print(i)
  if i==5:
    print("breaking out of loop!")
    break
  i+=1
print("loop exited.")
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).

0
1
2
3
4
5
breaking out of loop!
loop exited.

In [ ]:
print("odd numbers from 1 to 20:")
for i in range(1,21):
  if i % 2 != 0:
    print(i,end="")

# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.

odd numbers from 1 to 20:
135791113151719

In [ ]:
string="hello,world!"
char="l"
count=0
for i in string:
  if i == char:
    count+=1
    print(f"the character'{char}'appears {count} times:")
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

the character'l'appears 1 times:
the character'l'appears 2 times:
the character'l'appears 3 times:

In [ ]:
num=int(input("enter a number:"))
sum_of_digits = sum(int(digit) for digit in str(num))
print("sum of digits:",sum_of_digits)
# Write a Python program to calculate the sum of digits of a number. (User input for the number)

enter a number:34
sum of digits: 7

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
numbers=[1,2,3,4,5]
sum_of_numbers=sum(numbers)
print("sum of numbers:",sum_of_numbers)
# Write a Python program to create a list of integers and print the sum of the elements.

sum of numbers: 15

In [ ]:
numbers=[13,4,56,2,5,7]
largest=max(numbers)
print("largest number:",largest)
# Write a Python program to find the largest element in a list.

largest number: 56

In [ ]:
numbers=[2,4,3,6,7]
numbers.reverse()
print("reversed list:",numbers)
# Write a Python program to reverse a list.

reversed list: [7, 6, 3, 4, 2]

In [ ]:
numbers = [1,2,3,5,4,6,7]
num_to_remove = 2
numbers=[x for x in numbers if x !=num_to_remove]
print("list after removal:",numbers)
# Write a Python program to remove all occurrences of a specific element from a list.

list after removal: [1, 3, 5, 4, 6, 7]

In [ ]:
number = [1,5,7,6,8]
target = 7
index = numbers.index(target)
print(f"index of target{target}:{index}")
# Write a Python program to find the index of an element in a list.

index of target7:5

In [ ]:
numbers = [1,2,3,4,5]
target = 3
if target in numbers:
    print(f"{target} exists in the list.")
else:
    print(f"{target} does not exist in the list.")
# Write a Python program to find if a specific element exists in a list.

3 exists in the list.

In [ ]:
numbers = [1,2,2,3,3,4,4,5,5,6,6]
numbers = list(set(numbers))
print("list without duplicates:",numbers)
# Write a Python program to remove duplicates from a list.

list without duplicates: [1, 2, 3, 4, 5, 6]

In [1]:
numbers = [1,2,3,4,4,5,2,4]
target = 2
count = numbers.count(target)
print(f"the elment{target} occurs {count} times.")
# Write a Python program to count the occurrences of an element in a list.

the elment2 occurs 2 times.

In [2]:
numbers = [1,2,3,4,5]
even_count = len([num for num in numbers if num %2 == 0])
print("number of even numbers:",even_count)
# Write a Python program to get the number of even numbers in a list.

number of even numbers: 2

In [3]:
my_tuple = (1,2,3,4,5)
print("my tuple:",my_tuple)
# Write a Python program to create a tuple and print it.

my tuple: (1, 2, 3, 4, 5)

In [5]:
my_tuple = (1,2,3)
my_list = list(my_tuple)
print("list:", my_list)
my_tuple_again = tuple(my_list)
print("tuple:", my_tuple_again)

# Write a Python program to convert a tuple to a list and vice versa.

list: [1, 2, 3]
tuple: (1, 2, 3)

In [6]:
my_tuple = (12,33,2,5,7)
print("max value:", max(my_tuple))
print("min value:", min(my_tuple))
# Write a Python program to find the maximum and minimum values in a tuple.

max value: 33
min value: 2

In [7]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print("a =", a)
print("b =", b)
print("c =", c)
# Write a Python program to unpack a tuple into variables.

a = 1
b = 2
c = 3

In [8]:
my_set = {1, 2, 3}
print("Original set:", my_set)
my_set.add(4)
print("Set after adding 4:", my_set)
print("Does 2 exist in the set?", 2 in my_set)
print("Does 5 exist in the set?", 5 in my_set)




# Write a Python program to add an element to a set and check if an element exists in the set.

Original set: {1, 2, 3}
Set after adding 4: {1, 2, 3, 4}
Does 2 exist in the set? True
Does 5 exist in the set? False

In [9]:
person = {"name": "John", "age": 30, "city": "New York"}
print(person)
# Write a Python program to create a dictionary with keys and values and print it.

{'name': 'John', 'age': 30, 'city': 'New York'}

In [11]:
person = {"name": "nimmy", "age": 20, "city": "pitlam"}
print("Name:", person["name"])
print("Age:", person["age"])
print("City:", person["city"])
# Write a Python program to access a dictionary value using a key.

Name: nimmy
Age: 20
City: pitlam

In [12]:
person = {"name": "nimmy", "age": 20, "city": "pitlam"}

print("Does 'name' exist?", "name" in person)
print("Does 'country' exist?", "country" in person)


# Write a Python program to check if a key exists in a dictionary.

Does 'name' exist? True
Does 'country' exist? False

In [13]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

merged_dict = {**dict1, **dict2}
print(merged_dict)



# Write a Python program to merge two dictionaries.

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [14]:
person = {"name": "nimmy", "age": 20, "city": "pitlam"}
print("Before:", person)

del person["age"]
print("After:", person)


# Write a Python program to remove a key from a dictionary.

Before: {'name': 'nimmy', 'age': 20, 'city': 'pitlam'}
After: {'name': 'nimmy', 'city': 'pitlam'}

In [15]:
person = {"name": "nimmy", "age": 20, "city": "pitlam"}
print("Number of keys:", len(person))

# Write a Python program to get the number of keys in a dictionary.

Number of keys: 3

In [16]:
scores = {"Math": 85, "Science": 90, "English": 78}
print("Largest value:", max(scores.values()))
print("Smallest value:", min(scores.values()))

# Write a Python program to find the largest and smallest values in a dictionary.

Largest value: 90
Smallest value: 78

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [19]:
def square(num):
return num ** 2
print(square(5))
# Write a Python function that returns the square of a number.

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-19-da5773276d54>, line 2)

In [21]:
def add_numbers(a, b):
return a + b

print(add_numbers(5, 7))
# Write a Python function that accepts two parameters and returns their sum.

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-21-45345a76abb0>, line 2)

In [26]:
def is_prime(n):
    if n <= 1:
        return False
for i in range(2, int(n**0.5) + 1):
if n % i == 0:
    return False


print(is_prime(11))
print(is_prime(15))
# Write a Python function to check if a given number is prime.

IndentationError: expected an indented block after 'for' statement on line 4 (<ipython-input-26-bdc9be08d71e>, line 5)

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`